<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous textboard</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
        <%
          let max = 15;
          let temp = data.title.split(' ');
          if(temp.length > max){
            temp.text = temp.slice(0, max);
            temp = temp.text.join(' ');
            temp += '...';
            data.title = temp;
          }
      %>
    <h1 class="title"><%=data.title%></h1>
    <footer>
        <a href="https://github.com/GregoryGoncalves/freecodecamp/tree/master/infosec-and-qa/anonymous-imageboard" target="_blank">
            <span class="icon"><i class="fa fa-github"></i></span>
        </a>
        <a href="http://codepen.io/Selhar/#" target="_blank">
            <span class="icon"><i class="fa fa-codepen"></i></span>
        </a>
        <a href="https://www.freecodecamp.com/gregorygoncalves" target="_blank">
            <span class="icon"><i class="fa fa-free-code-camp"></i></span>
        </a>
    </footer>
    <div id="main">
    <a href="<%=home_url%>">Home</a>
        <div class="thread">
            <span class="thread_text"> <%=data.text%> </span> 
            <span><a class="report" href="/report/<%=data._id%>"><strong>report</strong></a></span>
            <%data.replies.forEach((reply) => {%>
            <div class="replies">
                <span class="text_reply"> <%=reply.text%> </span> 
                <a class="report" href="/reportcomment/<%=reply._id%>"><strong>report</strong></a>
                <form method="GET" action="/delete/<%data._id%>">
                    <div class="reply_controls"> 
                        <input value='<%=reply._id%>' name="reply_id" type="hidden"/>
                        <input type='text' value='' name="password"  placeholder='password'>
                        <input class="thread_delete" type="submit" value="Delete">
                    </div>
                </form>
            </div>

            <%});%>
            <div class="reply">
                <form method="post" action='/<%=data._id%>' name='thread'>
                    <input value='<%=data._id%>' name="thread_id" type="hidden"/>
                    <textarea type='text' rows="8" placeholder='Text' name='text'></textarea><br>
                    <input type='text' name='password' placeholder='optional password'><br>
                    <input type="submit" value="Reply">
                </form>
            </div>
        </div>
    </div>
</body>
</html>