<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous textboard</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <h1 class="title">Mock anonymous board project</h1>

    <footer>
        <a href="https://github.com/GregoryGoncalves/freecodecamp/tree/master/infosec-and-qa/anonymous-imageboard" target="_blank">
            <span class="icon"><i class="fa fa-github"></i></span>
        </a>
        <a href="http://codepen.io/Selhar/#" target="_blank">
            <span class="icon"><i class="fa fa-codepen"></i></span>
        </a>
        <a href="https://www.freecodecamp.com/gregorygoncalves" target="_blank">
            <span class="icon"><i class="fa fa-free-code-camp"></i></span>
        </a>
    </footer>
    <div id="main">
        <div class="inputfield">
        <h3>Submit a new thread:</h3>
            <form method="POST" action="/" name='thread'>
                <input type='text' placeholder='Subject' name='title'></input>
                <textarea type='text' placeholder='Text' name='text'></textarea>
                <input type='text' placeholder='Password' name='password'></input>
                <input type="submit" value="Post">
            </form>
        </div>
        <div class="threadlist">
            <%data.forEach((thread) => {%>
            <div class="thread">
            <%
                let max = 30;
                let temp = thread.title.split(' ');
                if(temp.length > max){
                  temp.text = temp.slice(0, max);
                  temp = temp.text.join(' ');
                  temp += '...';
                  thread.title = temp;
                }
            %>
            <span class="thread_title"> <strong><%=thread.title%></strong> 
            <a class="thread_link" href="/<%=thread._id%>">reply</a> |
            <a class="report" href="/report/<%=thread._id%>"><strong>report</strong></a></span> 
            <%
                max = 60;
                temp = thread.text.split(' ');
                if(temp.length > max){
                  temp.text = temp.slice(0, max);
                  temp = temp.text.join(' ');
                  temp += '...';
                  thread.text = temp;
                }
            %>
            <span class="thread_text"> <%=thread.text%> </span> 
                <%thread.replies.forEach((reply) => {
                    let isTextShortened = false;
                    if(reply.text){
                        let max_words = 100;
                        let temp_replies = reply.text.split(' ');
                        if(temp_replies.length > max_words){
                            temp_replies.text = temp_replies.slice(0, max_words);
                            temp_replies = temp_replies.text.join(' ');
                            temp_replies += '...';
                            reply.text = temp_replies;
                            isTextShortened = true;
                        }
                    }
                    %>
                <div class="replies">
                        <span class="text_reply"> <%=reply.text%> </span> 
                        <%if(isTextShortened){ %>
                            <a class="thread_link" href="/<%=thread._id%>">more</a> |
                        <%} %>
                            <a class="report" href="/reportcomment/<%=thread._id%>"><strong>report</strong></a>
                    <form method="GET" action="/delete/<%=thread._id%>">
                        <div class="reply_controls"> 
                            <input value='<%=reply._id%>' name="reply_id" type="hidden"/>
                            <input type='text' value='' name="password"  placeholder='optional password'>
                            <input class="thread_delete" type="submit" value="Delete">
                        </div>
                    </form>
                </div>
                <%})%>
                <div class="reply">
                    <form method="post" action='/<%=thread._id %>' name='thread'>
                        <input value='<%=thread._id%>' name="thread_id" type="hidden"/>
                        <textarea type='text' rows="8" placeholder='Text' name='text'></textarea><br>
                        <input type='text' name='password' placeholder='optional password'><br>
                        <input type="submit" value="Quick reply">
                    </form>
                </div>
            </div>
            <%});%>
            
            
        </div>        
    </div>
</body>
</html>