<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous textboard</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <h1 class="title"><%=data.title%></h1>
    <footer>
        <a href="https://github.com/GregoryGoncalves" target="_blank">
            <span class="icon"><i class="fa fa-github"></i></span>
        </a>
        <a href="http://codepen.io/Selhar/#" target="_blank">
            <span class="icon"><i class="fa fa-codepen"></i></span>
        </a>
        <a href="https://www.freecodecamp.com/gregorygoncalves" target="_blank">
            <span class="icon"><i class="fa fa-free-code-camp"></i></span>
        </a>
    </footer>
    <div id="main">
    <a href="<%=home_url%>">Home</a>
        <div class="thread">
            <span class="thread_text"> <%=data.text%> </span> <a class="thread_link" href="#"> reply</a>
            <%data.replies.forEach((reply) => {%>
            <div class="replies">
                <span class="text_reply"> <%=reply.text%> </span> 
            </div>
             <form method="GET" action="/delete/<%data._id%>">
                <div class="reply_controls"> 
                    <input value='<%=reply._id%>' name="reply_id" type="hidden"/>
                    <input type='text' value='' name="password"  placeholder='optional password'>
                    <input class="thread_delete" type="submit" value="Delete">
                </div>
            </form>

            <%});%>
            <input class="thread_report" type="submit" value="Report">
            <div class="reply">
                <form method="post" action='/<%=data._id%>' name='thread'>
                    <input value='<%=data._id%>' name="thread_id" type="hidden"/>
                    <textarea type='text' rows="8" placeholder='Text' name='text'></textarea><br>
                    <input type='text' name='password' placeholder='optional password'><br>
                    <input type="submit" value="Reply">
                </form>
            </div>
        </div>
    </div>
</body>
</html>